body {
    font-family: "Open Sans", sans-serif;
    padding-left: 1%;
    padding-right: 1%;
}

h1 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    color: #212121;
}

h2 {
    font-weight: normal !important;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.lightText {
    color: white;
}

.darkText {
    color: #a2aab8;
}

.selectText {
    color: #495057;
}

.rectangle {
    border-radius: 10px 10px 10px 10px;
    background-color: #1C2331;
}

.img {
    width: 70%;
    margin-top: 100px;
}